* {
  margin: 0;
}
.section {
  width: 100%;
}
.section-content {
  max-width: 300px;
  margin: 0 auto;
  padding: 40px 60px;
  text-align: center;
}
.section-red {
  background-color: #ff6363;
}
.section-blue {
  background-color: #8fbbff;
}
.section-green {
  background-color: #fff;
}
